*{
  
        margin: 0px;
        padding : 0px;
}
body{
    font-family: sans-serif;
    background-color: rgb(217, 226, 234);
}

 /* Hearder Styling */
.headerClass{
    background-color: #78d9f6;
    color : red;
    height: 80px;
    text-align: center;
    width: 100% !important;
}
.headerText{
    padding-top: 20px;
}

/* line below hearder styling */
.lineClass{
    height : 5px;
    background-color: blue;
}

.header-bottom-line{
    background-color: blue;
    height: 5px ;
}

/* button styling */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 45px 1px 45px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    /* position: absolute; */
    
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #78d9f6;
    /* color: #777; */
    color : white;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #78d9f6;
   
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.btn-container{
    text-align: right;
    margin:20px ;
    
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* index page form styling */
.form-container{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height : 600px;
    width: 600px;
    background-color: #78d9f6;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);   
}
.form-header{
color : white;
padding-top : 20px ;
margin: 10px;
}
input{
    width: 65%;
    height:30px;
    border-radius: 20px;
    border-color: rgb(95, 196, 223);

    
}

.label-class{
display: flex;
justify-content:flex-start;
margin-left: 110px;
}
.input-class{
margin-bottom: 15px;
}
textarea{
    width: 65%;
    height:100px;
    border-radius: 20px;
    border-color: rgb(95, 196, 223);
}

/* form button  styling*/
.btn-container{
    position: relative;
    left:-99px;
}
.btn-class{
    width: 65%;
    height:35px;
    cursor: pointer;
    background-color: #909090;
    border-radius: 20px;
    color:white;
    border-color: #909090;
}
.btn-class:hover{
    background-color: white;
    color:#909090;
    border-color: white;
}

/* Table styling */
#tableId {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* display: flex;
    margin-left: auto;
    padding-right: auto; */
  }
  
  #tableId td, #tableId th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableId tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableId tr:hover {background-color: #ddd;}
  
  #tableId th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #78d9f6;
    color: white;
  }

  /* delete button Styling */
  .delete{
    height:30px;
    width: 100%;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   border-color: red;
   cursor: pointer;
   color:red;
  }

  /* finished event button styling */
.finished-event-btn-container{
    text-align: left;
    margin:20px 20px 20px 100px;
  }

.finished7-event-btn-container{
    text-align: right;
    margin:20px 20px 20px 100px;
}
